__pycache__/*
BackgroundVideos/*
OutputVideos/*
Screenshots/*
Voiceovers/*
Lib/*
Scripts/*
metadata.json
pyvenv.cfg
client_secrets.json
geckodriver.log
config.ini
VLC_media_player-3.0.19-20230410-x86_64.AppImage
venv/
YTBanner2.png.kra